h1 {
    text-align: center;
    font-size: 4.5ch;
    font-family: Garamond, Times, serif;
}

h2 {
    text-align: center;
    font-size: 3.5ch;
    font-family: Garamond, Times, serif;
}

h3 {
    text-align: center;
    font-size: 3ch;
    font-family: Garamond, Times, serif;
}

p {
    font-size: 2ch;
    text-align: justify;
    font-family: Garamond, Times, serif;
}

li {
    font-size: 2ch;
    text-align: justify;
    font-family: Garamond, Times, serif;
}

#main {
    width: 75%;
    padding: 2ch;
    margin: auto;
    background-color: black;
    display: block;
    color: white;
}

.links{
    background-color: slategray;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
    padding: 1.5ch;
    font-family: Garamond, Times, serif;
    color: yellow;

}

a:hover{
    background-color: steelblue;
    color: white;
}